/**
 * Base > Colours.
 * ------------------------------------------------------------------------------
 * Colour variables.
 *
 */
$COLOR_BRIGHT_BLUE: rgb(52, 152, 219);

$COLOR_WHITE: rgb(255, 255, 255);
$COLOR_BLACK: rgb(44, 62, 80);

$COLOR_BLUE: mix($COLOR_BRIGHT_BLUE, $COLOR_WHITE, 30%);
