<!-- Partials > Block. -->
<!-- Individual block display. -->
<!-- Supported types: mountains, clients, logos -->
{{ $logoPath := printf "logos/%s%s" .Params.handle ".svg" }}
{{ $classes := cond (eq .Params.block_type "logos") "block--logos s4 m2" "s8" }}

<div class="blocks__block block {{ $classes }}">
  {{ if .Params.link }}
    <a class="block__link" href="{{ .Params.link }}">
  {{ end }}

  <div class="block__image-container">
    <img
      class="block__image"
      alt="{{ .Params.alt }}"
      loading="lazy"
      src="/images/{{ .Params.block_type }}/{{ .Params.handle }}.jpg"
    >

    {{ if or (eq .Params.block_type "clients") (eq .Params.block_type "logos")}}
      <div class="block__logo">
        {{ partial $logoPath . }}
      </div>
    {{ end }}

    <div class="block__meta-container row">
      <div class="block__meta s6 m3">
        <h2 class="block__title">{{ .Title }}</h2>

        {{ if or (eq .Params.block_type "clients") (eq .Params.block_type "mountains")}}
          <div class="block__stats sub-text">
            <!-- Mountains stats -->
            {{ if .Params.location }}
              <div class="block__stat icon">
                <span class="icon__image">
                  {{ partial "icons/location.svg" . }}
                </span>

                <span class="icon__text">
                  {{ .Params.location }} ({{ .Params.duration }} nights)
                </span>
              </div>
            {{ end }}

            {{ if .Params.location }}
              <div class="block__stat icon">
                <span class="icon__image">
                  {{ partial "icons/distance.svg" . }}
                </span>

                <span class="icon__text">
                  {{ .Params.distance }} miles
                </span>
              </div>
            {{ end }}

            {{ if .Params.location }}
              <div class="block__stat icon">
                <span class="icon__image">
                  {{ partial "icons/mountains.svg" . }}
                </span>

                <span class="icon__text">
                  {{ .Params.mountains }} ({{ .Params.mountains_new }} new)
                </span>
              </div>
            {{ end }}

            {{ if .Params.location }}
              <div class="block__stat icon">
                <span class="icon__image">
                  {{ partial "icons/steps.svg" . }}
                </span>

                <span class="icon__text">
                  {{ .Params.steps }} steps
                </span>
              </div>
            {{ end }}
          </div>
        {{ end }}
      </div>
    </div>
  </div>
  {{ if .Params.link }}
    </a>
  {{ end }}

  <div class="row">
    <div class="block__content s8 m6 offset-m2">
      {{ .Content }}
    </div>
  </div>
</div>
