<!-- Partials > Footer. -->
<!-- Site footer. -->
{{ $url := .URL }}
{{ $page := .Title }}

<div class="footnotes container responsive-margin-bottom">
  {{ range .Site.Menus.main }}
    <a
      class="
       footnotes__footnote footnote footnote--{{ .Identifier}}
       background-color background-color--{{ .Identifier }}
       {{ if (eq $url .URL) }}is-hidden{{ end }}
       {{ if and (eq $page "Index") (eq .Title "Contact") }}is-hidden{{ end }}
       {{ if and (eq $page "Info") (eq .Title "Contact") }}is-hidden{{ end }}
       {{ if and (eq $page "Distances") (eq .Title "Stats") }}is-hidden{{ end }}
       {{ if and (eq $page "Mountains") (eq .Title "Stats") }}is-hidden{{ end }}
      "
      href="{{ .URL }}"
    >
      <span class="footnote__content">
        <h2 class="footnote__title">{{ .Pre }} {{ .Title }}</h2>

        <p class="footnote__copy">
          {{ .Post }}
        </p>
      </span>
    </a>
  {{ end }}
</div>
