<!-- Partials > Map. -->
<!-- Mountains map. -->
<div class="map">
  <div id="map" class="map__display"></div>

  <div class="map__progress">
    <div class="map__progress-bar" js-map="progressBar">
      <span
        class="map__progress-text map__progress-text--count"
        data-value="112"
        js-map="count"
      >
        0
      </span>
    </div>

    <span
      class="map__progress-text map__progress-text--total"
      data-value="214"
      js-map="total"
    >
      214
    </span>
  </div>
</div>
