/**
 * Components > Articles.
 * ------------------------------------------------------------------------------
 * A list of blog articles.
 *
 */
.articles {
  &:not(:last-child) {
    // Desired margin - grid gap
    margin-bottom: ($SPACING_L - $SPACING_S);
  }

  &__excerpt {
    position: relative;

    &:not(:last-child) {
      margin-bottom: $SPACING_S;
    }
  }
}
