/**
 * Components > Articles.
 * ------------------------------------------------------------------------------
 * A list of blog articles.
 *
 */
.articles {
  $parent: &;

  &__excerpt {
    position: relative;

    &:not(:last-child) {
      margin-bottom: $SPACING_SXS;
    }
  }

  &__meta-title {
    display: inline;
    margin-right: $SPACING_3XS;
  }

  &__tag {
    &:not(:last-child) {
      margin-right: $SPACING_2XS;
    }
  }

  /**
   * Homepage.
   */
  &__homepage-link {
    text-decoration: none;

    &:hover {
      #{$parent}__homepage-title {
        text-decoration: none;
      }
    }
  }

  &__homepage-title {
    display: block;
    text-decoration: underline;
  }

  /**
   * Modifiers.
   */
  &#{&}--large {
    &:not(:last-child) {
      // Desired margin - grid gap
      margin-bottom: ($SPACING_L - $SPACING_S);
    }
  }

  &#{&}--small {
    #{$parent}__title {
      margin-bottom: $SPACING_2XS;
    }
  }

  /**
   * Template customisation.
   */
  .template--blog & {
    #{$parent}__meta-title,
    #{$parent}__return-link {
      display: none;
    }
  }
}
