/**
 * Components > Blocks.
 * ------------------------------------------------------------------------------
 * Blocks contain multiple block elements.
 *
 */
.blocks {
  grid-column: content;

  &__block {
    &:not(:last-child) {
      margin-bottom: $SPACING_M;
    }
  }

  @include mq($from: medium) {
    &__block {
      &:not(:last-child) {
        margin-bottom: $SPACING_L;
      }
    }
  }
}
