/**
 * Components > Card.
 * ------------------------------------------------------------------------------
 * Title card styles.
 *
 */
.card {
  margin-bottom: $SPACING_M;
  width: 100%;

  &__title {
    margin-bottom: $SPACING_S;
    padding-bottom: $SPACING_S;
    position: relative;

    &::after {
      background-color: $COLOR_BLACK;
      bottom: 0;
      content: '';
      height: 3px;
      left: 0;
      position: absolute;
      width: 30px;
    }
  }

  &__copy {
    max-width: 700px;
  }

  .template--about & {
    &__title::after {
      background-color: $COLOR_ORANGE;
    }
  }

  @include mq($from: medium) {
    margin-bottom: $SPACING_L;
  }
}
