/**
 * Components > Card.
 * ------------------------------------------------------------------------------
 * Title card styles.
 *
 */
.card {
  margin-bottom: $SPACING_L;
  width: 100%;

  &__title {
    margin-bottom: $SPACING_S;
    padding-bottom: $SPACING_S;
    position: relative;

    &::after {
      background-color: $COLOR_BLUE;
      bottom: 0;
      content: '';
      height: 3px;
      left: 0;
      position: absolute;
      width: 30px;
    }
  }

  &__copy {
    max-width: 700px;
  }

  /**
   * Colours.
   */
  .template--about &,
  .template--info & {
    &__title::after {
      background-color: $COLOR_ORANGE;
    }
  }

  .template--work & {
    &__title::after {
      background-color: $COLOR_PURPLE;
    }
  }

  .template--stats &,
  .template--distances &,
  .template--mountains & {
    &__title::after {
      background-color: $COLOR_GREEN;
    }
  }

  .template--contact & {
    &__title::after {
      background-color: $COLOR_RED;
    }
  }
}
