/**
 * Components > Card.
 * ------------------------------------------------------------------------------
 * Title card styles.
 *
 */
.card {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 64vh;
  padding: $SPACING_S;
  text-align: center;
  width: 100%;

  &__copy {
    max-width: 700px;
  }

  &#{&}--index {
    margin-bottom: 0;
  }

  @include mq($from: medium) {
    padding: $SPACING_M;
  }

  @include mq($from: large) {
    padding: $SPACING_L;
  }

  @media (orientation: portrait) {
    min-height: 50vh;
  }
}
