/**
 * Components > Clients.
 * ------------------------------------------------------------------------------
 * Clients contain multiple client elements.
 *
 */
.clients {
  display: flex;
  flex-direction: column;
  grid-column: content;
  width: 100%;

  &__client {
    .clients--list & {
      margin-bottom: 0;
      padding-bottom: 100%;
    }
  }

  &#{&}--list {
    display: grid;
    grid-gap: $SPACING_S $SPACING_S;
    grid-template-columns: repeat(3, 1fr);
  }

  @include mq($from: small) {
    &#{&}--list {
      display: grid;
      grid-gap: $SPACING_S $SPACING_S;
      grid-template-columns: repeat(4, 1fr);
    }
  }
}
