/**
 * Components > Clients.
 * ------------------------------------------------------------------------------
 * Clients contain multiple client elements.
 *
 */
.clients {
  $parent: &;

  &:not(:last-child) {
    margin-bottom: $SPACING_S;
  }

  &__client {
    // Desired padding - grid-gap
    margin-bottom: ($SPACING_L - $SPACING_S);
  }

  &#{&}--list {
    #{$parent}__client {
      margin-bottom: 0;
    }
  }

  @include mq($from: medium) {
    &:not(:last-child) {
      margin-bottom: $SPACING_XL;
    }

    &__client {
      // Desired padding - odd column offset - grid-gap
      margin-bottom: ($SPACING_XL - $SPACING_L - $SPACING_S);
    }

    &#{&}--selected {
      #{$parent}__client:nth-child(odd) {
        margin-top: $SPACING_L;
      }
    }
  }
}
