/**
 * Components > Entry
 * ------------------------------------------------------------------------------
 * An entry is an accordion with text and its title in the distances template.
 *
 */
.entry {
  $parent: &;

  &__title {
    &:not(:last-child) {
      margin-bottom: $SPACING_XS;
    }
  }

  &__content p {
    font-size: 1.4rem;

    &:not(:last-child) {
      margin-bottom: $SPACING_S;
    }
  }
}
