/**
 * Components > Footnote.
 * ------------------------------------------------------------------------------
 * Individual footnote.
 *
 */
.footnote {
  background-color: fade-colour($COLOR_BLUE);
  color: $COLOR_BLACK;
  height: 0;
  padding-bottom: 60%;
  position: relative;
  width: 100%;

  &::after {
    background-color: rgba($COLOR_BLACK, 0.2);
    content: '';
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: $LAYER_BASE;
  }

  &__content {
    padding: $SPACING_S;
    position: absolute;
    z-index: $LAYER_RAISED;
  }

  &__title {
    margin-bottom: $SPACING_2XS;
  }

  &:hover {
    &::after {
      opacity: 1;
    }
  }

  &.is-hidden {
    display: none;
  }

  &#{&}--about {
    background-color: fade-colour($COLOR_ORANGE);
  }

  &#{&}--work {
    background-color: fade-colour($COLOR_PURPLE);
  }

  &#{&}--mountains {
    background-color: fade-colour($COLOR_GREEN);
  }

  &#{&}--contact {
    background-color: fade-colour($COLOR_RED);
  }

  @include mq($from: large) {
    &__content {
      padding: $SPACING_L;
    }
  }
}
