/**
 * Components > Footer.
 * ------------------------------------------------------------------------------
 * Footer partial.
 *
 */
.footer {
  display: flex;

  &__item {
    &:not(:last-child) {
      margin-right: $SPACING_S;
    }
  }

  @include mq($from: medium) {
    &__item {
      &:not(:last-child) {
        margin-right: $SPACING_M;
      }
    }
  }

  @include mq($from: large) {
    &__item {
      &:not(:last-child) {
        margin-right: $SPACING_L;
      }
    }
  }
}
