/**
 * Components > Footer.
 * ------------------------------------------------------------------------------
 * Footer partial.
 *
 */
.footer {
  display: flex;
  flex-wrap: wrap;
  margin-top: auto;

  &__footnotes {
    margin-bottom: $SPACING_M;
  }

  &__item {
    margin-bottom: $SPACING_S;

    &:not(:last-child) {
      margin-right: $SPACING_S;
    }
  }

  @include mq($from: medium) {
    &__item {
      margin-bottom: $SPACING_M;

      &:not(:last-child) {
        margin-right: $SPACING_M;
      }
    }
  }
}
