/**
 * Components > Footnotes.
 * ------------------------------------------------------------------------------
 * End of page navigation to other pages.
 *
 */
.footnotes {
  display: grid;
  grid-gap: $SPACING_S;

  @include mq($from: medium) {
    grid-gap: $SPACING_M;
    grid-template-columns: repeat(3, 1fr);
  }

  @include mq($from: large) {
    grid-gap: $SPACING_L;
  }
}
