/**
 * Components > Logo.
 * ------------------------------------------------------------------------------
 * Brand specific styles for each logo.
 *
 */
.logo {
  height: auto;
  width: 62%;

  &#{&}--direct-doors,
  &#{&}--pangaia,
  &#{&}--paul-valentine,
  &#{&}--sofasofa {
    color: $COLOR_WHITE;
  }

  &#{&}--direct-doors {
    width: 75%;
  }

  &#{&}--emma-bridgewater,
  &#{&}--hummingbird-bakery {
    width: 88%;
  }

  &#{&}--hasbro, {
    width: 51%;
  }

  &#{&}--newbie {
    width: 70%;
  }

  &#{&}--pangaia {
    width: 39%;
  }

  &#{&}--paul-valentine {
    width: 20%;
  }

  &#{&}--sofasofa {
    width: 45%;
  }

  &#{&}--sons {
    width: 50%;
  }

  &#{&}--this-works {
    width: 78%;
  }

  &#{&}--tp-toys {
    width: 24%;
  }

  /**
   * Media queries.
   */
  @include mq($from: medium) {
    &#{&}--direct-doors {
      width: 46%;
    }

    &#{&}--pangaia {
      width: 25%;
    }

    &#{&}--paul-valentine {
      width: 12%;
    }

    &#{&}--sofasofa {
      width: 30%;
    }

    &#{&}--tp-toys {
      width: 15.5%;
    }
  }
}
