/**
 * Components > Map.
 * ------------------------------------------------------------------------------
 * Map and progress bar displayed on the mountains page.
 *
 */
.map {
  margin-bottom: $SPACING_L;
  mix-blend-mode: darken;

  &__display {
    @include transition(border-color);
    border: 1px solid $COLOR_BLACK;
    height: 0;
    padding-bottom: 100%;
  }

  .leaflet-popup-content-wrapper {
    background-color: $COLOR_BLACK;
    border-radius: 0;
    box-shadow: none;
    color: $COLOR_DARK_MODE_WHITE;
  }

  .leaflet-popup-content {
    margin: $SPACING_XS;
  }

  .leaflet-popup-tip {
    background-color: $COLOR_BLACK;
    box-shadow: none;
  }

  .leaflet-control-attribution,
  .leaflet-control-attribution a {
    @include transition(color);
    color: $COLOR_BLACK;
    font-family: $FONT;
  }

  &__progress {
    @include transition(background-image, border-color);
    // stylelint-disable-next-line
    background-image: url('data:image/svg+xml,%3Csvg width="4" height="4" viewBox="0 0 4 4" xmlns="http://www.w3.org/2000/svg"%3E%3Cg fill="%231b2229" fill-opacity="1" fill-rule="evenodd"%3E%3Ccircle cx="1" cy="1" r="1"/%3E%3Ccircle cx="1" cy="1" r="1"/%3E%3C/g%3E%3C/svg%3E');
    border: 1px solid $COLOR_BLACK;
    border-top: 0;
    height: 50px;
    position: relative;
    width: 100%;
  }

  &__progress-bar {
    @include transition(background-color, width $TIMING_XL ease);
    background-color: $COLOR_BLACK;
    height: 100%;
    left: 0;
    padding-right: $SPACING_S;
    position: absolute;
    text-align: right;
    top: 0;
    width: 0;
    z-index: 3;
  }

  &__progress-text {
    font-weight: $WEIGHT_BOLD;
    line-height: $LINE_HEIGHT_S;
    padding: $SPACING_2XS $SPACING_XS $SPACING_3XS;
    position: absolute;
    right: $SPACING_XS;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;

    &#{&}--count {
      @include transition(color, opacity $TIMING_L ease);
      color: $COLOR_WHITE;
      opacity: 0;

      &.is-active {
        opacity: 1;
      }
    }

    &#{&}--total {
      @include transition(background-color, color);
      background-color: $COLOR_WHITE;
      color: $COLOR_BLACK;
    }
  }

  .is-dark & {
    // mix-blend-mode: lighten;

    &__display {
      border-color: $COLOR_DARK_MODE_WHITE;
    }

    &__progress {
      // stylelint-disable-next-line
      background-image: url('data:image/svg+xml,%3Csvg width="4" height="4" viewBox="0 0 4 4" xmlns="http://www.w3.org/2000/svg"%3E%3Cg fill="%23f2f2f2" fill-opacity="1" fill-rule="evenodd"%3E%3Ccircle cx="1" cy="1" r="1"/%3E%3Ccircle cx="1" cy="1" r="1"/%3E%3C/g%3E%3C/svg%3E');
      border-color: $COLOR_DARK_MODE_WHITE;
    }
  }

  @include mq($from: small) {
    &__display {
      padding-bottom: 75%;
    }
  }

  @include mq($from: medium) {
    margin-bottom: $SPACING_XL;

    &__display {
      padding-bottom: 45%;
    }
  }

  @include mq($from: wide) {
    &__display {
      padding-bottom: 30%;
    }
  }
}
