Redirect 301 /mountains /stats/mountains
Redirect 301 /distances /stats/distances
Redirect 301 /old/1 /old
Redirect 301 /old/2 /old
Redirect 301 /old/3 /old
Redirect 301 /old/4 /old
Redirect 301 /old/5 /old
Redirect 301 /old/6 /old
Redirect 301 /old/7 /old
Redirect 301 /old/8 /old
Redirect 301 /old/9 /old
Redirect 301 /old/10 /old
