<!doctype html>
<html lang="{{ $.Site.Language.Lang }}">
<head>
  <base href="{{ if getenv "CONTEXT" }}{{ cond (eq "production" (getenv "CONTEXT")) (getenv "URL") (getenv "DEPLOY_PRIME_URL") }}{{ else }}{{ $.Site.BaseURL }}{{ end }}">

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
  <meta name="description" content="{{ .Description }}">

  <meta name="pageType" content="{{ .Type }}" js-page-type>

  <title>
    {{ if (eq .Title "Index") }}
      {{ $.Site.Title }} &ndash; {{ $.Site.Params.tagline }}
    {{ else }}
      {{ $.Site.Title }} &ndash; {{ .Title }}
    {{ end }}
  </title>

  {{ $stylesheet := .Site.Data.webpack.main }}
  {{ with $stylesheet.css }}
    <link href="{{ relURL . }}" rel="stylesheet">
  {{ end }}
</head>

<body class="template template--{{ .Layout }} template--{{ .Params.handle }}">
  {{ block "header" . }}
    {{ partial "header" . }}
  {{ end }}

  <main class="main responsive-margin-bottom">
    {{ block "main" . }}{{ end }}
  </main>

  {{ block "footnotes" . }}
    {{ partial "footnotes" . }}
  {{ end }}

  {{ block "footer" . }}
    {{ partial "footer" . }}
  {{ end }}

  {{ $script := .Site.Data.webpack.main }}
  {{ with $script.js }}
    <script src="{{ relURL . }}"></script>
  {{ end }}
</body>
</html>
