{{ define "main" }}
  {{- .Content -}}

  <div class="blocks">
    <div class="blocks__block chart">
      <h2 class="chart__title">Distance By Foot (miles)</h2>

      <div class="chart__chart">
        <canvas js-chart="walking"></canvas>
      </div>
    </div>

    <div class="blocks__block chart">
      <h2 class="chart__title">Total Distances (miles)</h2>

      <div class="chart__chart">
        <canvas js-chart="total"></canvas>
      </div>
    </div>

    <!-- Year summaries -->
    <div class="blocks__block articles">
      <h2 class="articles__title">Summaries</h2>

      {{ range (.Pages.ByParam "handle").Reverse }}
        <div class="articles__article article">
          <h3 class="article__title article__title--small">
            {{ .Params.Handle }}
          </h3>

          <div class="article__body body-2">
            {{ .Content }}
          </div>
        </div>
      {{ end }}
    </div>
  </div>

  <script src="/vendors/chart.min.js"></script>
{{ end }}
