{{ define "main" }}
  {{- .Content -}}

  <div class="blocks">
    <div class="blocks__block chart">
      <h2 class="chart__title">Distance by foot (miles)</h2>

      <div class="chart__chart">
        <canvas js-chart="walking"></canvas>
      </div>
    </div>

    <div class="blocks__block chart">
      <h2 class="chart__title">Total distances (miles)</h2>

      <div class="chart__chart">
        <canvas js-chart="total"></canvas>
      </div>
    </div>

    <div class="blocks__block chart">
      <h2 class="chart__title">Elevation gain (metres)</h2>

      <div class="chart__chart">
        <canvas js-chart="elevation"></canvas>
      </div>
    </div>

    <!-- Year summaries -->
    <div id="SummariesAccordion" class="blocks__block entries">
      <h2 class="entries__title">Year in review</h2>

      {{ range (.Pages.ByParam "handle").Reverse }}
        <div class="entries__entry entry" js-accordion="container">
          <button
            class="entry__button"
            aria-expanded="false"
            js-accordion="button"
          >
            <h3 class="entry__title body-1">{{ .Params.Handle }}</h3>
          </button>

          <div
            class="entry__content body-1"
            aria-hidden="true"
            js-accordion="content"
          >
            {{ .Content }}

            <p class="body-2">
              <strong>Data in full:</strong>
              <a href="https://daytum.com/CraigBaldwin/page/{{ .Params.Page }}">
                {{ .Params.Handle }}
              </a>
            </p>
          </div>
        </div>
      {{ end }}
    </div>
  </div>

  <script src="/vendors/chart.min.js"></script>
{{ end }}
