{{ define "main" }}
  <div class="row">
    <div class="content-col">
      {{- .Content -}}
    </div>
  </div>

  <div class="row">
    <div class="col wide-col">
      <div class="blocks">
        <h2 class="visually-hidden">Selected</h2>

        {{ range .Pages.ByWeight }}
          {{ if (eq .Params.block_type "clients") }}
            {{ partial "block" . }}
          {{ end }}
        {{ end }}

        <h2 class="visually-hidden">More</h2>

        <div class="row row--l8">
          {{ range .Pages.ByTitle }}
            {{ if (eq .Params.block_type "logos") }}
              <div class="col s2 m2 l2">
                {{ partial "block" . }}
              </div>
            {{ end }}
          {{ end }}
        </div>
      </div>
    </div>
  </div>
{{ end }}
