{{ define "main" }}
  {{- .Content -}}

  <div class="clients clients--selected responsive-margin-bottom">
    <h2 class="clients__title">Selected</h2>

    {{ range .Pages.ByWeight }}
      {{ if (eq .Params.type "selected") }}
        {{ partial "client" . }}
      {{ end }}
    {{ end }}
  </div>

  <div class="clients clients--list">
    <h2 class="clients__title visually-hidden">Others</h2>
    {{ range .Pages.ByTitle }}
      {{ if (eq .Params.type "list") }}
        {{ partial "client" . }}
      {{ end }}
    {{ end }}
  </div>
{{ end }}