{{ define "main" }}
  {{- .Content -}}

  <div class="clients clients--selected row">
    <h2 class="clients__title visually-hidden">Selected</h2>

    {{ range .Pages.ByWeight }}
      {{ if (eq .Params.type "selected") }}
        {{ partial "client" . }}
      {{ end }}
    {{ end }}
  </div>

  <div class="clients clients--list row">
    <h2 class="clients__title visually-hidden">More</h2>

    {{ range .Pages.ByTitle }}
      {{ if (eq .Params.type "list") }}
        {{ partial "client" . }}
      {{ end }}
    {{ end }}
  </div>
{{ end }}
