{
  "extends": [
    "plugin:shopify/esnext"
  ],
  "env": {
    "jest": true
  },
  "parser": "babel-eslint",
  "rules": {
    "babel/no-invalid-this": 0,
    "import/no-anonymous-default-export": 0,
    "import/no-unresolved": [
      "error"
    ],
    "import/namespace": [
      "error",
      {
        "allowComputed": true
      }
    ],
    "no-alert": 0,
    "no-new": 0,
    "node/shebang": 0,
    "shopify/strict-component-boundaries": 0,
    "func-style": 0,
    "no-useless-catch": 0,
    "no-misleading-character-class": 0,
    "require-atomic-updates": 0,
    "prefer-object-spread": 0,
    "import/no-cycle": 0,
    "import/no-unused-modules": 0,
    "spaced-comment": [
      "error",
      "always",
      {
        "markers": [
          "/"
        ]
      }
    ]
  },
  "globals": {
    "Chart": true,
    "document": true,
    "L": true,
    "performance": true,
    "site": true,
    "window": true
  }
}
