/**
 * Components > Header.
 * ------------------------------------------------------------------------------
 * Header and site navigation.
 *
 */
.header {
  background-color: $COLOR_WHITE;
  padding: $SPACING_M 0;

  &__container {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }

  &__navigation {
    display: flex;
  }

  &__list-item {
    &:not(:last-child) {
      margin-right: $SPACING_S;
    }
  }

  &__link {
    &.is-active {
      color: $COLOR_BLUE;
    }
  }

  @include mq($from: large) {
    padding: $SPACING_L 0;

    &__list-item {
      &:not(:last-child) {
        margin-right: $SPACING_M;
      }
    }
  }
}
