/**
 * Header.
 * ------------------------------------------------------------------------------
 * Header and site navigation.
 *
 */
.header {
  background-color: $COLOR_WHITE;
  font-size: ms(-1);
  padding: $BORDER_WIDTH 0;

  @include mq($from: large) {
    font-size: ms(1);
  }
}
