/**
 * Header.
 * ------------------------------------------------------------------------------
 * Header and site navigation.
 *
 */
.header {
  align-items: center;
  background-color: $COLOR_WHITE;
  display: flex;
  font-size: ms(-1);
  justify-content: space-between;
  padding: $BORDER_WIDTH_S 0;

  &__navigation {
    display: flex;
  }

  &__list-item {
    &:not(:last-child) {
      margin-right: $SPACING_S;
    }
  }

  &__link {
    &.is-active {
      color: red;
    }
  }

  @include mq($from: large) {
    font-size: ms(0);
    padding: $BORDER_WIDTH_L 0;

    &__list-item {
      &:not(:last-child) {
        margin-right: $SPACING_M;
      }
    }
  }
}
