/**
 * Theme import.
 * ------------------------------------------------------------------------------
 * Import all styles.
 *
 */

/**
 * Base styles.
 */
@import 'base/reset';
@import 'base/animation';
@import 'base/grid';
@import 'base/colour';
@import 'base/helpers';
@import 'base/layout';
@import 'base/icon';
@import 'base/typography';
@import 'base/a11y';

/**
 * Components.
 */
@import 'components/block';
@import 'components/blocks';
@import 'components/burger';
@import 'components/card';
@import 'components/chart';
// @import 'components/client';
// @import 'components/clients';
@import 'components/footer';
@import 'components/footnotes';
@import 'components/header';
// @import 'components/map';
