/**
 * Helpers: a11y
 * -----------------------------------------------------------------------------
 * Utility classes to aid in creating visually accessibile components.
 *
 */

/**
 * Default focus styling for browsers.
 */
@mixin focus-ring() {
  outline: 2px solid $COLOR_BLACK;
}

/**
 * Reset focus state on tabbable elements.
 */
[tabindex],
[draggable],
a,
area,
button:enabled,
input:not([type=hidden]):enabled,
object,
select:enabled,
textarea:enabled {
  &:focus {
    outline: 0;
  }

  .is-tabbable & {
    &:focus {
      @include focus-ring;
    }
  }
}

/**
 * Skip to content button.
 * - Overrides .visually-hidden when focused.
 */
.skip-link {
  @include transition(background-color, color);
  @include visually-hidden;
  align-items: center;
  background-color: $COLOR_BLACK;
  color: $COLOR_DARK_MODE_WHITE;
  display: flex;
  justify-content: center;
  left: 0;
  padding: $SPACING_S $SPACING_M;
  text-decoration: none;
  top: 0;

  &:focus {
    @include visually-shown(absolute);
    height: auto;
    width: auto;
    z-index: $LAYER_POPUP;
  }

  .is-dark & {
    background-color: $COLOR_DARK_MODE_WHITE;
    color: $COLOR_BLACK;
  }

  .is-tabbable & {
    &:focus {
      outline: 0;
    }
  }
}
