/**
 * Base > Animation.
 * ------------------------------------------------------------------------------
 * Animation timing, easing, and mixins.
 *
 */
$TIMING_S: 0.2s;
$TIMING_M: 0.4s;
$TIMING_L: 0.6s;

$EASING: cubic-bezier(0.645, 0.045, 0.355, 1);

@mixin transition($property: transform, $timing: $TIMING_L) {
  transition: $property $timing $EASING;
}
