/**
 * Base > Colours.
 * ------------------------------------------------------------------------------
 * Colour variables and classes.
 *
 */
$COLOR_RED: rgb(231, 76, 60);
$COLOR_ORANGE: rgb(230, 126, 34);
$COLOR_GREEN: rgb(46, 204, 113);
$COLOR_BLUE: rgb(52, 152, 219);
$COLOR_DARK_BLUE: rgb(23, 91, 125);
$COLOR_PURPLE: rgb(155, 89, 182);

/**
 * Standard.
 */
$COLOR_BLACK: rgb(27, 34, 41);
$COLOR_WHITE: rgb(255, 255, 255);
$COLOR_DARK_GREY: rgb(124, 124, 124);
$COLOR_LIGHT_GREY: rgb(242, 242, 242);

$COLOR_LINK: $COLOR_BLACK;

/**
 * Selection.
 */
::selection {
  @include transition(background-color, color);
  background-color: $COLOR_BLACK;
  color: $COLOR_WHITE;
}

// stylelint-disable-next-line
::-moz-selection {
  @include transition(background-color, color);
  background-color: $COLOR_BLACK;
  color: $COLOR_WHITE;
}

.is-dark {
  ::selection {
    background-color: $COLOR_WHITE;
    color: $COLOR_BLACK;
  }

  // stylelint-disable-next-line
  ::-moz-selection {
    background-color: $COLOR_WHITE;
    color: $COLOR_BLACK;
  }
}
