/**
 * Base > Colours.
 * ------------------------------------------------------------------------------
 * Colour variables and classes.
 *
 */
$COLOR_RED: rgb(231, 76, 60);
$COLOR_ORANGE: rgb(230, 126, 34);
$COLOR_GREEN: rgb(46, 204, 113);
$COLOR_BLUE: rgb(52, 152, 219);
$COLOR_DARK_BLUE: rgb(23, 91, 125);
$COLOR_PURPLE: rgb(155, 89, 182);

/**
 * Standard.
 */
$COLOR_BLACK: rgb(27, 34, 41);
$COLOR_WHITE: rgb(255, 255, 255);
$COLOR_DARK_GREY: rgb(124, 124, 124);
$COLOR_LIGHT_GREY: rgb(242, 242, 242);

$COLOR_DARK_MODE_WHITE: $COLOR_LIGHT_GREY;
$COLOR_LINK: rgb(200, 200, 200);
