/**
 * Base > Grid.
 * ------------------------------------------------------------------------------
 * Layout grid and media breakpoints.
 *
 */
@import '~sass-mq';

/**
 * Variables.
 */
$mq-breakpoints: (
  tiny: 320px,
  small: 576px,
  medium: 768px,
  large: 1024px,
  wide: 1328px
);

/**
 * Grid.
 */
$SITE_WIDTH: 70rem;

/**
 * Spacing.
 */
$SPACING_3XS: 0.25rem;
$SPACING_2XS: 0.5rem;
$SPACING_XS: 1rem;
$SPACING_SXS: 1.5rem;
$SPACING_S: 2rem;
$SPACING_P: 2.5rem; // Text paragraph
$SPACING_M: 3rem;
$SPACING_L: 6rem;
$SPACING_XL: 9rem;
$SPACING_2XL: 12rem;

/**
 * Layers.
 */
$LAYER_BELOW: 0;
$LAYER_BASE: 1;
$LAYER_RAISED: 2;
$LAYER_DRAWER: 3;
$LAYER_HEADER: 4;
$LAYER_POPUP: 5;

/**
 * Grid layout.
 */
.row {
  display: grid;
  gap: $SPACING_S;
  grid-template-columns: repeat(8, 1fr);

  .s4 {
    grid-column-end: span 4;
  }

  .s6 {
    grid-column-end: span 6;
  }

  .s8 {
    grid-column-end: span 8;
  }

  @include mq($from: medium) {
    .m2 {
      grid-column-end: span 2;
    }

    .m3 {
      grid-column-end: span 3;
    }

    .m4 {
      grid-column-end: span 4;
    }

    .m6 {
      grid-column-end: span 6;
    }

    .offset-m2 {
      grid-column-start: 3;
    }
  }
}
