/**
 * Base > Grid.
 * ------------------------------------------------------------------------------
 * Layout grid and media breakpoints.
 *
 */
@import '~sass-mq';

/**
 * Variables.
 */
$mq-breakpoints: (
  tiny: 320px,
  small: 576px,
  medium: 768px,
  large: 1024px,
  wide: 1328px
);

/**
 * Grid.
 */
$SITE_WIDTH: 120rem;

/**
 * Spacing.
 */
$SPACING_3XS: 0.25rem;
$SPACING_2XS: 0.5rem;
$SPACING_XS: 1rem;
$SPACING_SXS: 1.5rem;
$SPACING_S: 2rem;
$SPACING_P: 2.5rem; // Text paragraph
$SPACING_M: 3rem;
$SPACING_ML: 5rem;
$SPACING_L: 6rem;
$SPACING_XL: 9rem;
$SPACING_2XL: 12rem;

/**
 * Layers.
 */
$LAYER_BELOW: 0;
$LAYER_BASE: 1;
$LAYER_RAISED: 2;
$LAYER_DRAWER: 3;
$LAYER_HEADER: 4;
$LAYER_POPUP: 5;

/**
 * Grid layout.
 */
.row {
  display: grid;
  gap: $SPACING_S;
  grid-template-columns: repeat(4, minmax(10px, 1fr));

  .s2 {
    grid-column: span 2;
  }

  .content-col,
  .wide-col,
  .s4 {
    grid-column: span 4;
  }

  @include mq($from: medium) {
    grid-template-columns: repeat(8, minmax(10px, 1fr));

    .content-col {
      grid-column: 2 / 8;
    }

    .wide-col {
      grid-column: 1 / 9;
    }

    .m3 {
      grid-column: unset;
      grid-column-end: span 3;
    }

    .m6 {
      grid-column: unset;
      grid-column-end: span 6;
    }

    .m8 {
      grid-column: unset;
      grid-column-end: span 8;
    }

    &#{&}--m6 {
      grid-template-columns: repeat(6, minmax(10px, 1fr));
    }
  }

  @include mq($from: large) {
    grid-template-columns: repeat(10, minmax(10px, 1fr));

    .content-col {
      grid-column: 3 / 9;
    }

    .wide-col {
      grid-column: 2 / 10;
    }

    .l2 {
      grid-column: unset;
      grid-column-end: span 2;
    }

    .l5 {
      grid-column: unset;
      grid-column-end: span 5;
    }

    .l5-10 {
      grid-column: 4 / 9;
    }

    &#{&}--l6 {
      grid-template-columns: repeat(6, minmax(10px, 1fr));
    }

    &#{&}--l8 {
      grid-template-columns: repeat(8, minmax(10px, 1fr));
    }
  }
}
