/**
 * Base > Helper.
 * ------------------------------------------------------------------------------
 * Utility and helper classes.
 *
 */

/**
 * Hide element but make it accessible to screen readers.
 *
 * Usage:
 * .selector {
 *   @include visually-hidden;
 * }
 */
@mixin visually-hidden() {
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.visually-hidden {
  @include visually-hidden;
}

/**
 * Reverse the properties applied by @mixin visually-hidden.
 *
 * Accepts:
 * - $position: {String} Positioning method for element
 *
 * Usage:
 * .selector {
 *   @include visually-shown(relative);
 * }
 */
@mixin visually-shown($position: inherit) {
  clip: auto;
  clip-path: unset;
  height: auto;
  margin: 0;
  overflow: auto;
  // stylelint-disable-next-line
  position: $position !important;
  width: auto;
}
