/**
 * Base > Layout.
 * ------------------------------------------------------------------------------
 * Determines layout styling.
 *
 */
body {
  padding: 0 $SPACING_S;

  @include mq($from: medium) {
    padding: 0 $SPACING_M;
  }

  @include mq($from: large) {
    padding: 0 $SPACING_L;
  }
}

main {
  display: grid;
  grid-template-columns: [content] 1fr;

  .layout-span {
    grid-column: span 3;
  }

  .layout-center {
    grid-column: content;
  }

  > h1,
  > h2,
  > p,
  > ul {
    grid-column: content;
  }

  p + h2 {
    margin-top: $SPACING_XS;
  }

  a {
    @extend %text-link;
  }

  @include mq($from: large) {
    grid-template-columns: [gutter] 1fr [content] 700px [gutter] 1fr;

    .template--blocks &,
    .template--mountains & {
      grid-template-columns: [gutter] 1fr [content] 800px [gutter] 1fr;
    }
  }
}
