/**
 * Base > Layout.
 * ------------------------------------------------------------------------------
 * Determines base layout styling.
 *
 */
html {
  background-color: $COLOR_WHITE;
}

body {
  margin: $SPACING_S;
}

.template {
  &#{&}--about {
    background-color: rgba($COLOR_ORANGE, 0.25);
  }
}

.container {
  margin: 0 auto;
  max-width: ($SITE_WIDTH + (2 * $SPACING_S));
  padding: 0 $SPACING_S;
  width: 100%;

  @include mq($from: medium) {
    max-width: ($SITE_WIDTH + (2 * $SPACING_M));
    padding: 0 $SPACING_M;
  }
}

.main {
  margin-bottom: $SPACING_L;

  @include mq($from: medium) {
    margin-bottom: $SPACING_XL;
  }
}
