/**
 * Base > Layout.
 * ------------------------------------------------------------------------------
 * Determines base layout styling.
 *
 */
html {
  @include transition(background-color);
  background-color: $COLOR_WHITE;

  &.is-dark {
    background-color: $COLOR_BLACK;
  }
}

/**
 * Selection.
 */
::selection {
  @include transition(background-color, color);
  background-color: $COLOR_BLACK;
  color: $COLOR_WHITE;
}

// stylelint-disable-next-line
::-moz-selection {
  @include transition(background-color, color);
  background-color: $COLOR_BLACK;
  color: $COLOR_WHITE;
}

.is-dark {
  ::selection {
    background-color: $COLOR_DARK_MODE_WHITE;
    color: $COLOR_BLACK;
  }

  // stylelint-disable-next-line
  ::-moz-selection {
    background-color: $COLOR_DARK_MODE_WHITE;
    color: $COLOR_BLACK;
  }
}

/**
 * Body layout.
 */
.template {
  display: flex;
  flex-direction: column;
  margin: $SPACING_S;
  min-height: calc(100vh - (2 * #{$SPACING_S}));

  &#{&}--about,
  &#{&}--info {
    background-color: rgba($COLOR_ORANGE, 0.25);
  }

  &#{&}--stats,
  &#{&}--distances,
  &#{&}--mountains {
    background-color: rgba($COLOR_GREEN, 0.25);
  }
}

.container {
  margin: 0 auto;
  max-width: ($SITE_WIDTH + (2 * $SPACING_S));
  padding: 0 $SPACING_S;
  width: 100%;

  @include mq($from: medium) {
    max-width: ($SITE_WIDTH + (2 * $SPACING_M));
    padding: 0 $SPACING_M;
  }
}

.main {
  margin-bottom: $SPACING_L;

  @include mq($from: medium) {
    margin-bottom: $SPACING_2XL;
  }
}
