/**
 * Base > Layout.
 * ------------------------------------------------------------------------------
 * Determines base layout styling.
 *
 */
html {
  @include transition(background-color);
  background-color: $COLOR_WHITE;

  &.is-dark {
    background-color: $COLOR_BLACK;
  }

  &.no-transition {
    transition: none;
  }
}

/**
 * Selection.
 */
::selection {
  @include transition(background-color, color);
  background-color: $COLOR_BLACK;
  color: $COLOR_WHITE;
}

// stylelint-disable-next-line
::-moz-selection {
  @include transition(background-color, color);
  background-color: $COLOR_BLACK;
  color: $COLOR_WHITE;
}

.is-dark {
  ::selection {
    background-color: $COLOR_DARK_MODE_WHITE;
    color: $COLOR_BLACK;
  }

  // stylelint-disable-next-line
  ::-moz-selection {
    background-color: $COLOR_DARK_MODE_WHITE;
    color: $COLOR_BLACK;
  }
}

/**
 * Body layout.
 */
.template {
  background-color: rgba($COLOR_MID_GREY, 0.25);
  display: flex;
  flex-direction: column;
  margin: $SPACING_S;
  min-height: calc(100vh - (2 * #{$SPACING_S}));
  padding: 0 $SPACING_S;

  &#{&}--orange {
    background-color: rgba($COLOR_ORANGE, 0.25);
  }

  &#{&}--purple {
    background-color: rgba($COLOR_PURPLE, 0.25);
  }

  &#{&}--green {
    background-color: rgba($COLOR_GREEN, 0.25);
  }

  &#{&}--red {
    background-color: rgba($COLOR_RED, 0.25);
  }
}

.container {
  margin: 0 auto;
  max-width: $SITE_WIDTH;
  width: 100%;
}

.main {
  margin-bottom: $SPACING_L;

  @include mq($from: medium) {
    margin-bottom: $SPACING_2XL;
  }
}
