/**
 * Base > Typography.
 * ------------------------------------------------------------------------------
 * All typography styles.
 *
 */
@import '~mathsass';
@import '~modularscale-sass/stylesheets/modularscale';

/**
 * Variables.
 */
$modularscale: (
  base: 16px,
  ratio: 1.2,
);

$LINE_HEIGHT_S: 1;
$LINE_HEIGHT_M: 1.4;
$LINE_HEIGHT_L: 1.6;

$LETTER_SPACING_S: 0.01em; // stylelint-disable-line

$WEIGHT_REGULAR: 400;
$WEIGHT_BOLD: 700;

/**
 * Font face.
 */
@font-face {
  font-family: SpaceGrotesk;
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/SpaceGrotesk-Regular.woff') format('woff'), url('/fonts/SpaceGrotesk-Regular.woff2') format('woff2');
}

@font-face {
  font-family: SpaceGrotesk;
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/SpaceGrotesk-Bold.woff') format('woff'), url('/fonts/SpaceGrotesk-Bold.woff2') format('woff2');
}

/**
 * Element styling.
 */
html,
body {
  color: $COLOR_BLACK;
  font-family: SpaceGrotesk, Arial, sans-serif;
  font-size: ms(0);
  font-weight: $WEIGHT_REGULAR;
  letter-spacing: $LETTER_SPACING_S;
  line-height: $LINE_HEIGHT_S;
}

/**
 * Headings.
 */
h1, h2, h3 {
  font-weight: $WEIGHT_BOLD;
}

h1 {
  font-size: ms(4);
  margin-bottom: $SPACING_XS;

  @include mq($from: small) {
    font-size: ms(5);
  }

  @include mq($from: large) {
    font-size: ms(6);
  }
}

h2 {
  margin-bottom: $SPACING_XS;
}

/**
 * Text.
 */
p, .body-1 {
  font-size: ms(0);
  line-height: $LINE_HEIGHT_L;

  &:not(:last-child) {
    margin-bottom: $SPACING_XS;
  }
}

.stand-out {
  font-size: ms(1);
  line-height: $LINE_HEIGHT_M;

  @include mq($from: small) {
    font-size: ms(2);
  }

  @include mq($from: large) {
    font-size: ms(3);
  }
}

/**
 * Lists
 */
ul {
  line-height: $LINE_HEIGHT_M;

  &:not(:last-child) {
    margin-bottom: $SPACING_XS;
  }

  .template--contact & {
    columns: 2;
  }
}

li {
  main & {
    list-style: disc inside;
    margin-bottom: $SPACING_3XS;
  }
}

/**
 * Helpers.
 */
.text-link,
%text-link {
  border-bottom: 1px solid $COLOR_BLACK;
  color: $COLOR_BLACK;
  text-decoration: none;

  &:hover {
    border-bottom-color: $COLOR_BLUE;
  }
}
