/**
 * Base > Typography.
 * ------------------------------------------------------------------------------
 * All typography styles.
 *
 */

/**
 * Font.
 */
$FONT: 'Eczar', serif;

/**
 * Line height.
 */
$LINE_HEIGHT_S: 1;
$LINE_HEIGHT_M: 1.35;
$LINE_HEIGHT_L: 1.5;

/**
 * Font weight.
 */
$WEIGHT_REGULAR: 400;
$WEIGHT_BOLD: 700;

:root {
  font-size: 62.5%;
}

/**
 * Font face.
 */
@import url('https://fonts.googleapis.com/css?family=Eczar:400,700&display=swap');

/**
 * Element styling.
 */
html,
body {
  color: $COLOR_BLACK;
  font-display: auto;
  font-family: $FONT;
  font-size: 1.4rem;
  font-weight: $WEIGHT_REGULAR;
  line-height: $LINE_HEIGHT_S;
}

/**
 * Headings.
 */
h1, h2, h3 {
  font-weight: $WEIGHT_BOLD;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
  margin-bottom: $SPACING_2XS;
}

/**
 * Text.
 */
p, .body-1 {
  font-size: 1.8rem;
  line-height: $LINE_HEIGHT_L;

  &:not(:last-child) {
    margin-bottom: 2.5rem;
  }
}

.standfirst {
  font-size: 2rem;
  line-height: $LINE_HEIGHT_M;
}

.navigation {
  @extend %text-link;
}

/**
 * Lists
 */
ul {
  line-height: $LINE_HEIGHT_L;
}

li {
  main & {
    list-style: disc inside;
  }
}

/**
 * Helpers.
 */
.text-link,
%text-link,
p > a {
  color: currentColor;
  text-decoration: underline;

  &:hover {
    color: $COLOR_LINK;
    text-decoration: none;
  }

  &.is-active {
    color: $COLOR_LINK;
  }
}

/**
 * External link icon.
 */
// stylelint-disable-next-line
// a:not([href*='craigbaldwin.com']):not([href^='#']):not([href^='/'])::after {
//   content: ' ↗';
//   font-size: 1rem;
//   text-decoration: none;
//   vertical-align: super;
// }
